<h1 class="pb-4">Explore Categories</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categories</li>
  </ol>
</nav>

<section aria-labelledby="categories" class="row g-3 g-lg-3 py-4 mx-2">
  <h2 id="categories" class="visually-hidden">Categories</h2>
  <!-- Here is the part where we import the categories -->
  <% if(categories != "")  { %>
  <% categories.forEach((element, index) => { %>
  <a href="/categories/<%= element.name %>" class="col-sm-6 col-md-3 col-lg text-center category__link">
    <div class="category__img shadow">
      <img src="img/<%= element.image %>" alt="<%= element.name %>" loading="lazy" class="h-100">
    </div>
    <div class="pt-1"><%= element.name %></div>
  </a>

  <% })
  }; %>
</section>