<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
  </ol>
</nav>

<h1>Oops!</h1>
<h2>It looks like something went wrong.</h2>
<p class="mb-5">The requested recipe was not found in our database. Sorry!</p>