<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Submit</li>
  </ol>
</nav>

<div class="px-4 py-5 text-center">
  <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Share your amazing recipes with lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa,
      impedit.</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-8">
    <form class="row g-3 mb-5" action="/submit" enctype="multipart/form-data" method="POST">

      <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="name">

      </div>
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email">

      </div>
      <div class="form-group">
        <label for="recipe-name" class="form-label">Recipe Name</label>
        <input type="text" class="form-control" name="recipe-name" id="recipe-name">

      </div>
      <div class="form-group">
        <label for="description" class="form-label">Instructions</label>
        <textarea type="text" class="form-control" name="description" id="recipe-desc" cols="30" rows="4"></textarea>

      </div>
      <div class="col-12">
        <label for="ingredients" class="form-label">Ingredients</label>
        <div class="ingredientList">
          <div class="ingredientDiv mb-1">
            <input type="text" class="form-control" name="ingredient">
          </div>
          <small class="d-block text-muted form-text">Example: 200g chicken breast</small>
        </div>
      </div>

      <div class="col-12">
        <button class="btn btn-outline-primary" type="button" id="addIngredientsBtn">+ Ingredient</button>
      </div>


      <div class="col-12">
        <label for="category">Select Category
          <select name="category" aria-label="category" id="" class="form-select form-control">
            <option selected value="">---</option>
            <option value="American">American</option>
            <option value="Chinese">Chinese</option>
            <option value="Indian">Indian</option>
            <option value="Mexican">Mexican</option>
            <option value="Spanish">Spanish</option>
            <option value="Thai">Thai</option>
          </select>
        </label>
      </div>

      <div class="col-12">
        <label for="image">Food Image </label>
        <input type="file" class="form-control" name="image" accept="image/*">

      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit Recipe</button>
      </div>

    </form>
  </div>
</div>